* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

#calc {
    background-color: black;
    width: 300px;
    height: 450px;
    margin: 1px auto;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 5px -5px 0px 0px black
}

#screen {
    background-color: white;
    width: 95%;
    height: 20%;
    margin: 1px auto;
    border: 3px solid black;
    border-radius: 10px;
    text-align: right;
    padding-top: 30px;
    font-size: 20px;
}

#caclBtns {
    background-color: floralwhite;
    width: 95%;
    height: 70%;
    margin: 1px auto;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
        'cacl7 cacl8 cacl9 caclMul caclCE'
        'cacl4 cacl5 cacl6 caclDivi caclPlus'
        'cacl1 cacl2 cacl3 caclMin caclPlus'
        'caclDot cacl0 caclAC caclMin caclEq';
    grid-gap: 3px;
}

button {
    color: white;
    background-color: gray;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 3px -2px black;
}

caclEq {
    grid-area: caclEq;
}

caclCE {
    grid-area: caclCE;
}

caclAC {
    grid-area: caclAC;
}

.cacl1 {
    grid-area: cacl1;
}

.cacl2 {
    grid-area: cacl2;
}

.cacl3 {
    grid-area: cacl3;
}

.cacl4 {
    grid-area: cacl4;
}

.cacl5 {
    grid-area: cacl5;
}

.cacl6 {
    grid-area: cacl6;
}

.cacl7 {
    grid-area: cacl7;
}

.cacl8 {
    grid-area: cacl8;
}

.cacl9 {
    grid-area: cacl9;
}

.cacl0 {
    grid-area: cacl0;
}

.caclMul {
    grid-area: caclMul;
}

.caclDivi {
    grid-area: caclDivi;
}

.caclMin {
    grid-area: caclMin;
}

.caclPlus {
    grid-area: caclPlus;
}

.caclDot {
    grid-area: caclDot
}